<!DOCTYPE html>
<html>
<head>
    <title>Connect</title>
    <link rel="Stylesheet" type="text/css" href="SPC2_files/style.css" />
    <link href="SPC2_files/application-00378fd0b8dc3fa8bf04b96a9f8b5ad1.css" media="all" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#why').click(function () {
                $('ul#info').toggle();
            });
        });

        function toggle() {
            if ($('ul#info').is(':visible')) {
                $('ul#info').hide();
            }
            else {
                $('ul#info').show();
            }
        }
    </script>

</head>
<body>
<div id="container">
  <div id="header_wrap" style="margin-top: 22px;">
    <div id="header">
      <img src="/assets/shareshuttle_logo_sm.png" alt="logo" class="left" />
        <a id="post_ride" class="button post km_click_event_by_text right" href="/rides/new">Post Rides</a>
      <div style="clear:both"></div>
    </div>
  </div>

   <div class="outer">
    <div id="connect">
        <b>Sign in to complete booking</b><br /><br />
        <a href="<%= session[:return_to_url] %>"><img src="/assets/Screen shot 2011-09-24 at 11.17.17 AM.png" alt="facebook" /></a><br /><br />
        <span><b>Or</b></span><br /><br />
        <a href="<%= session[:return_to_url] %>"><img src="/assets/signin_linkedin.png" alt="linkedin" /></a><br /><br />

        <a id="why" style="cursor:pointer;">Why do we require facebook or linkedin?</a>
        <ul id="info" style="display:none;">
            <li>lorem ipsum lorem ipsum</li>
            <li>lorem ipsum lorem ipsum</li>
            <li>lorem ipsum lorem ipsum</li>
        </ul><br />
        <div>Don't have facebook or linked in account?  Click<a href="#">Here</a></div>
    </div>
   </div>


  <div id="footer">
    <a><span>About &amp; Safety</span></a>
    <a><span>How it works</span></a>
    <a><span>Terms &amp; Privacy</span></a>
  </div>
  </div>
</body>
  </html>

