<div class="facebook-popup">
  <div class="facebook-popup-overlay"></div>
  <div class="facebook-popup-centered">
    <div class="vertically-centered">
      <div class="window">
        <a title="Closed" href="#" class="closed"> </a>
        <h2>Log in to Continue</h2>
        <h4>
          <img alt="facebook" src="/assets/facebook-small.png" /><a>Greg Bateman,</a> <a>Sara Beth Turner</a> and 25 others use <a>Shairporter </a><br><br>
        </h4>
        <ul class="user-images">
          <li><img alt="picture" src="/assets/popup-user-1.jpg"/><p>Steve</p></li>
          <li><img alt="picture" src="/assets/popup-user-2.jpg"/><p>Abdurahma</p></li>
          <li><img alt="picture" src="/assets/popup-user-3.jpg" /><p>Enrioue</p></li>
          <li><img alt="picture" src="/assets/popup-user-4.jpg" /><p>Will</p></li>
          <li><img alt="picture" src="/assets/popup-user-1.jpg" /><p>Steve</p></li>
          <li><img alt="picture" src="/assets/popup-user-2.jpg" /><p>Abdurahma</p></li>
          <li><img alt="picture" src="/assets/popup-user-3.jpg" /><p>Enrioue</p></li>
          <li><img alt="picture" src="/assets/popup-user-4.jpg" /><p>Will</p></li>
          <li><img alt="picture" src="/assets/popup-user-1.jpg" /><p>Steve</p></li>
          <li><img alt="picture" src="/assets/popup-user-2.jpg" /><p>Abdurahma</p></li>
          <li><img alt="picture" src="/assets/popup-user-3.jpg" /><p>Enrioue</p></li>
          <li><img alt="picture" src="/assets/popup-user-4.jpg" /><p>Will</p></li>
          <li><img alt="picture" src="/assets/popup-user-1.jpg" /><p>Steve</p></li>
          <li><img alt="picture" src="/assets/popup-user-2.jpg" /><p>Abdurahma</p></li>
          <li><img alt="picture" src="/assets/popup-user-3.jpg" /><p>Enrioue</p></li>
          <li><img alt="picture" src="/assets/popup-user-4.jpg" /><p>Will</p></li>
        </ul>
        <a class="sign-up-btn" href="<%= auth_at_provider_path(:provider => :facebook) %>"></a>
        <div class="question">
          <h3 class="toggle-next">Why we use Facebook?</h3>
          <ul class="checked-list" style="display: block;">
            <li>Minimum info like first name &amp; profile pic</li>
            <li>Validation = real people with real friends</li>
            <li>We preserve all privacy settings</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.sign-up-btn').popupWindow({                          // jquery for popup window
  height:500,
  width:800,
  top:50,
  left:50
  });
</script>