<div class="facebook-popup">
  <div class="facebook-popup-overlay"></div>
  <div class="facebook-popup-centered">
    <div class="vertically-centered">
      <div class="window">
        <a title="Closed" href="#" class="closed" onclick="$('.facebook-popup').hide();"> </a>
        <h2>Log in to Continue</h2>

        <div class="user-images">
          <iframe src="//www.facebook.com/plugins/facepile.php?href=https%3A%2F%2Fwww.facebook.com%2FShairporter&amp;action&amp;size=large&amp;max_rows=2&amp;width=458&amp;colorscheme=light" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:458px;" allowTransparency="true"></iframe>
          <div id="fb-root" class="user-images"></div>
          <div class="fb-facepile" data-href="https://www.facebook.com/Shairporter" data-size="large" data-max-rows="2" data-width="460"></div>
        </div>
        
        <a class="sign-up-btn" href="<%= auth_at_provider_path(:provider => :facebook) %>"></a>
        <div class="question">
          <h3 class="toggle-next">Why we use Facebook?</h3>
          <ul class="checked-list" style="display: block;">
            <li>Minimum info like first name &amp; profile pic</li>
            <li>Validation = real people with real friends</li>
            <li>We preserve all privacy settings</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.sign-up-btn').popupWindow({                          // jquery for popup window
  height:500,
  width:800,
  top:50,
  left:50
  });
</script>