<div class="form_map"><p>from near <%= @ride.from_location.name %></p>
  <div id="map_canvas" style="height:232px; width: 465px;"></div>
  <div id="resultstmp"></div>
</div>


<%= javascript_include_tag "jquery.ui.map.full.min" %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>



<script type="text/javascript">
  $(document).ready(function () {
  <% if @ride.to_location.present? && @ride.from_location.present? %>               // here check if to and from location of ride present then show the google map by google map jquery
    $('#map_canvas').gmap('displayDirections', { 'origin':'<%= "#{@ride.to_location.name} #{@ride.to_location.google_helper}".strip %>', 'destination':'<%= "#{@ride.from_location.name} #{@ride.from_location.google_helper}".strip %>', 'travelMode':google.maps.DirectionsTravelMode.DRIVING }, { 'panel':document.getElementById('resultstmp') }, function (result, status) {
    });
  <% end %>
  });
</script>


