Hi users,

<%= @old_owner.full_name %> has left the ride. <%= @new_owner && @new_owner.user.full_name %> is now the New owner of the Ride is
<%#=@ride.owner.full_name%>
<br/>
<p> Thanks for Joining Us </p>
