    <h1>Welcome to my site, <%= @user.first_name %></h1>                        <!-- here send email to the user when he post ride (Ride Post email Template)  -->
    <p>
      You have successfully Post a Ride
    </p>
    <p>Thanks for joining and have a great day!</p>