    <h1>Welcome to my site, <%= @user.first_name %></h1>                        <!-- here send email to the user when he modify ride (Ride Modify email Template)  -->
    <p>
      You have successfully Modify Ride.
    </p>
    <p>Thanks for joining and have a great day!</p>
