<h1>Welcome to my site, <%= @user.first_name %></h1>                            <!-- here send eamil to user when cancel his some ride (Cancel Ride Email Template)-->
<p>
  You have successfully Cancel the Ride.
</p>
<p>Thanks for joining and have a great day!</p>
