    <h1>Welcome to my site, <%= @user.first_name %></h1>                        <!-- here send email to the user registered or signup to our site (SignUp email Template)  -->
    <p>
      You have successfully Sign Up to our Site.
    </p>
    <p>Thanks for joining and have a great day!</p>