<%= stylesheet_link_tag "terms-style" %>
<div id="container">
  <div id="header_wrap" style="margin-top: 22px;">
    <div id="header">
      <%= link_to image_tag("shareshuttle_logo_sm.png", :class=>"left"), root_path %>
      <a id="post_ride" class="button post km_click_event_by_text right" href="<%= new_ride_path%>">Post a Ride</a>
      <a style="background:#6EA953; margin-right:12px;" class="button post km_click_event_by_text right" href="/rides/search?utf8=✓&search_posted=true&ride%5Bfrom_location_id%5D=&ride%5Bto_location_id%5D=&commit=Search">View Rides</a>
      <div style="clear:both"></div>
    </div>
  </div>

  <div class="content-container">
    <h1 style="padding-left: 15px;
color: white;
border-radius: 5px 5px 5px 5px;
-mozborder-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 0px 0px;"><b>About</b></h1>
    <div class="innercontent">
      <p>We are a community driven marketplace for sharing rides.</p><br /><br />
      <%= image_tag "collage_sm.jpg"%><br /><br />
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>
  </div>
