<%= stylesheet_link_tag "terms-style" %>
<style type="text/css">
  .list-styles li{
    list-style: circle;
    list-style-position: inside;
}
</style>
<div id="container">
  <div id="header_wrap" style="margin-top: 22px;">
    <div id="header">
      <%= link_to image_tag("shareshuttle_logo_sm.png", :class=>"left"), root_path %>
        <a id="post_ride" class="button post km_click_event_by_text right" href="<%= new_ride_path%>">Post a Ride</a>
      <a style="background:#6EA953; margin-right:12px;" class="button post km_click_event_by_text right" href="/rides/search?utf8=✓&search_posted=true&ride%5Bfrom_location_id%5D=&ride%5Bto_location_id%5D=&commit=Search">View Rides</a>
        <div style="clear:both"></div>
    </div>
  </div>

   <div class="content-container">
        <h1 style="color: white; border-radius: 5px 5px 5px 5px; -mozborder-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 0px 0px;"><b>How it Works & FAQ</b></h1>
        <div class="list-styles innercontent">
            <p>We are a community driven marketplace for sharing rides.</p><br /><br />
              <h3>How it works</h3>
              <ul>
                <li>search for a ride match
                <ul>
                  <li>pick how many seats</li>
                  <li>$ total = how much cash to bring to split the fare</li>
                </ul></li>
                <li>don't see one? post one and get notified</li>
                <li>connect after both parties have confirmed</li>
                <li>communicate and pick local public meeting spot</li>
                <li>take your direct ride (taxi or black car) to the airport</li>
                <li>split the fare (make sure to bring cash & correct change)</li>
              </ul>

              <h3>Safety</h3>
              <ul>
                <li>Facebook login required</li>
                <li>Facebook profile info is verified</li>
                <li>users can see if they have friends in common</li>
                <li>users can get comfortable about who they choose to ride with</li>
              </ul>

              <h3>We keep sensitive information private</h3>
              <ul>
                <li>last names</li>
                <li>phone numbers</li>
                <li>email addresses</li>
              </ul>

              <h3>User reviews & feedback</h3>
              <ul>
                <li>see reviews & feedback on existing users</li>
                <li>leave feedback on a ride you took</li>
                <li>multiple bad feedback will result in banned account</li>
              </ul>

              <h3>Safety checklist</h3>
              <ul>
                <li>make sure your comfortable about riders & trip details</li>
                <li>communicate with fellow rider: email or phone</li>
                <li>agree on a public meeting spot</li>
                <li> bring co-rider contact info</li>
                <li>leave a review</li>
              </ul>
        </div>
   </div>
