<%= stylesheet_link_tag "terms-style" %>

<div id="container">
  <div id="header_wrap" style="margin-top: 22px;">
    <div id="header">
      <%= image_tag "shareshuttle_logo_sm.png", :class=>"left" %>
      <a id="post_ride" class="button post km_click_event_by_text right" href="<%= new_ride_path%>">Post a Ride</a>
      <a style="background:#6EA953; margin-right:12px;" class="button post km_click_event_by_text right" href="<%= rides_path %>">View Rides</a>
      <div style="clear:both"></div>
    </div>
  </div>

  <div class="content-container">
    <h1><b>Terms and Privacy</b></h1><br /><br />
    <div style="padding:20px;">
      <p><b>Terms of Use:</b></p><br />
      <p>LOREM IPSUM LOREM IPSUM LOREM IPSUM</p><br />

      <div class="terms-content">
        It is a long established fact that a reader will be distracted by the readable content
        of a page when looking at its layout. The point of using Lorem Ipsum is that it
        has a more-or-less normal distribution of letters, as opposed to using 'Content
        here, content here', making it look like readable English. Many desktop publishing
        packages and web page editors now use Lorem Ipsum as their default model text, and
        a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various
        versions have evolved over the years, sometimes by accident, sometimes on purpose
        (injected humour and the like).
      </div><br /><br />

      <p><b>Privacy Policy</b></p><br />

      <div class="terms-content">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      </div>
    </div>
  </div>