<script type="text/javascript">
  $(document).ready(function(){
    $("#count-left").text(" - " + $("#left_count").val() + " left to review");
  });
</script>
<div class="main-msg-box" style="border: 1px solid;">
  <div class="left-all-msgs" style="border: 1px solid; float: left; margin-left: 5px; margin-top: 5px; width: 700px;">
<h6>Feedbacks<span id="count-left"></span></h6>
<% @past_rides = current_user.rides.past_rides.sorted_recent_at_top %>
<% @past_rides.each do |past_ride| %>
  <% @active_participants = past_ride.ride_participants.confirmed_or_owner_participants.where("user_id <> ? ", current_user.id) %>
  <% @active_participants.each do |ride_participant| %>
    <% @ride = ride_participant.ride %>
    <%= render "feedbacks/feedbacks", :owner => ride_participant.user %>
  <%end%>
<%end%>
 <%= hidden_field_tag :left_count, @left_count %>
  </div>
      <div class="right-all-msgs" style="border: 1px solid; float: left; margin-left: 5px; margin-top: 5px;">
<iframe src="" name="frame-a" width="600" height="650" ></iframe>
  </div>