#container
{
   width:960px;
   margin:0 auto;
}
#schedule-container
{
    background: -moz-linear-gradient(center top , #F9F9F9, #E7E7E7) repeat scroll 0 0 transparent;
    border-radius: 8px 8px 8px 8px;
    padding: 20px 25px;
}

#datepicker
{
    width:100px;
    height:25px;
    vertical-align:top;
}
input[type=button]
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    padding: 5px 10px;
    vertical-align: top;
}
input[type=button]:hover
{
    background:#FFE58F;
}

 h1
{
    font:bold 13px Arial;
    color:#FFF;
    background:#0D77B6;
    padding:8px 12px;
    text-align:left;
}
.trips
{
    border:1px solid gray;
}
.left
{
    float:left;
}
.info-row
{
    clear:both;
    border-bottom:1px solid gray;
    padding:10px 20px;
}
.rates
{
    border:1px solid gray;
    padding:8px;
    width:60px;
    height:70px;
}
.info
{
    margin:0 0 0 35px;
    line-height:2.8em;
}
.people img
{
    margin-left:20px;
}
#postride
{
    background:khaki;
    padding:20px 30px;
    margin-top:25px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
#postride span
{
    margin:0 0 0 20px;
}
#footer
{
    margin:0 auto;
    margin:40px 0 0 0;
    clear:both;
}
#footer span
{
    margin: 0 0 0 15px;
}
#divPrice
{
    /*background-color: #d4d4d4;*/
    padding:15px 20px;
    border:1px solid gray;
    width:300px;
    height: auto;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;

	background: #d4d4d4; /* for non-css3 browsers */
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e7e7e7'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e7e7e7)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #f9f9f9,  #e7e7e7); /* for firefox 3.6+ */
}
#divPrice a#how
{
    margin-left:30px;
}
.profiles
{
    width:400px;
    margin:45px 75px 45px 0;
    float:left;
    border-top:2px solid gray;
    padding-top:25px;
}
.profiles img
{
    margin-right:12px;
    float:left;
}
.right
{
    float:right;
}

#connect
{
    padding:12px 20px;
     border-radius:7px;
    -mozborder-radius:7px;
    -webkit-border-radius:7px;
    margin:0 auto;
    width:400px;
    margin:20px auto;
    text-align:center;
    border:1px solid gray;
}

ul#info
{
    margin-left:10px;
}
ul#info li
{
   list-style-type:disc;
}

ul#scale li
{
    list-style-type:none;
    float:left;
    margin-right:300px;
}
ul#scale li.last
{
    margin-right:0;
}
ul#scale li.active
{
    font-weight:bold;
}
div.col
{
    margin:25px 20px 0 0;
    
}
.content-container
{
    border:1px solid gray;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    margin:0 auto;
    width:700px;
}
.content-container h1
{
    padding-left:15px;
    color:#fff;
}
.content-container .innercontent
{
    padding:15px 25px;
    text-align:center;
}
.terms-content
{
    height:250px;
    overflow-y:scroll;
    padding:5px 12px 5px 0;
    border:1px solid gray;
}