

<ul class="RidesList">


					<li>


						<div class="SelectRide">
							<a class="RideInfoBtn">
								<span>approx.</span>
								<strong>$20</strong>
								<span>45 min</span>
							</a>
							<a class="Select">Select</a>
						</div> <!-- SelectRide -->




						<table class="RideDetails">
							<tr>
								<th class="Leave" scope="row"><span class="Icon">Icon</span> Leave:</th>
								<td class="LeaveArriveTime"><strong>4:00pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>New York University (NYU)</strong></td>
							</tr>
							<tr>
								<th class="Arrive" scope="row"><span class="Icon">Icon</span> Arrive:</th>
								<td class="LeaveArriveTime"><strong>4:45pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>JFK Terminal 5 <span class="SameLocationIcon">Check</span></strong></td>
							</tr>
						</table> <!-- RideDetails -->



						<img src="images/cartype_taxi.png" class="RideType" alt="Taxi" width="93" height="51" />



						<ul class="UserList">
							<li>
								<a href="#" class="UserPhoto" id="Trigger_UserID_001"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>


								<!-- HIDDEN TOOLTIP -->
								<div class="UserTooltip" id="TT_UserID_001">
									<h4><a href="#">Benjamin B.</a> from New York, NY</h4>
									<p><em>Can't wait for Thanksgiving vacation!</em></p>
									<div class="UserInfo">
										<div class="UserPhoto">
											<img src="images/temp_user_80x80.jpg" alt="temp_user_80x80" width="80" height="80" />
										</div>
										<ul>
											<li>Facebook <em>(<a href="#">536 friends</a>)</em></li>
											<li>12 past rides, <a href="#">8 feedback</a> (97%)</li>
											<li><strong>Networks: </strong>UC Berkely, Miramonte High</li>
										</ul>
									</div>
									<span class="TooltipArrow">Arrow</span>
								</div> <!-- UserTooltip -->

							</li>




							<li>
								<a href="#" class="UserPhoto" id="Trigger_UserID_002"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
								<!-- HIDDEN TOOLTIP -->
								<div class="UserTooltip" id="TT_UserID_002">
									<h4><a href="#">Benjamin B.</a> from New York, NY</h4>
									<p><em>Can't wait for Thanksgiving vacation!</em></p>
									<div class="UserInfo">
										<div class="UserPhoto">
											<img src="images/temp_user_80x80.jpg" alt="temp_user_80x80" width="80" height="80" />
										</div>
										<ul>
											<li>Facebook <em>(<a href="#">536 friends</a>)</em></li>
											<li>12 past rides, <a href="#">8 feedback</a> (97%)</li>
											<li><strong>Networks: </strong>UC Berkely, Miramonte High</li>
										</ul>
									</div>
									<span class="TooltipArrow">Arrow</span>
								</div> <!-- UserTooltip -->
							</li>
							<li>
								<a class="EmptySeat" id="Trigger_UserID_003"><img src="images/emptyseat_60x60.png" alt="emptyseat_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">+1 Seat Open</a>
								<!-- HIDDEN TOOLTIP -->
								<div class="UserTooltip" id="TT_UserID_003">
									<h4><a href="#">Benjamin B.</a> from New York, NY</h4>
									<p><em>Can't wait for Thanksgiving vacation!</em></p>
									<div class="UserInfo">
										<div class="UserPhoto">
											<img src="images/temp_user_80x80.jpg" alt="temp_user_80x80" width="80" height="80" />
										</div>
										<ul>
											<li>Facebook <em>(<a href="#">536 friends</a>)</em></li>
											<li>12 past rides, <a href="#">8 feedback</a> (97%)</li>
											<li><strong>Networks: </strong>UC Berkely, Miramonte High</li>
										</ul>
									</div>
									<span class="TooltipArrow">Arrow</span>
								</div> <!-- UserTooltip -->
							</li>




							<li class="Arrow">Arrow</li>
						</ul> <!-- UserList -->
					</li> <!-- END OF A RIDE -->













					<li>
						<div class="SelectRide">
							<a class="RideInfoBtn">
								<span>approx.</span>
								<strong>$20</strong>
								<span>45 min</span>
							</a>
							<a class="Select">Select</a>
						</div> <!-- SelectRide -->
						<table class="RideDetails">
							<tr>
								<th class="Leave" scope="row"><span class="Icon">Icon</span> Leave:</th>
								<td class="LeaveArriveTime"><strong>4:00pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>New York University (NYU)</strong></td>
							</tr>
							<tr>
								<th class="Arrive" scope="row"><span class="Icon">Icon</span> Arrive:</th>
								<td class="LeaveArriveTime"><strong>4:45pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>JFK Terminal 5 <span class="NotSameLocationIcon">!</span></strong></td>
							</tr>
						</table> <!-- RideDetails -->
						<img src="images/cartype_limo.png" class="RideType" alt="Black Car" width="93" height="51" />
						<ul class="UserList">
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a class="EmptySeat"><img src="images/emptyseat_60x60.png" alt="emptyseat_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">+1 Seat Open</a>
							</li>
							<li class="Arrow">Arrow</li>
						</ul> <!-- RiderList -->
						<ul class="FriendsInCommon">
							<li><strong><em>2 mutual friends!</em></strong></li>
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp_user_30x30.jpg" alt="temp_user_30x30" width="30" height="30" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp_user_30x30.jpg" alt="temp_user_30x30" width="30" height="30" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
						</ul>
					</li> <!-- END OF A RIDE -->
					<li>
						<div class="SelectRide">
							<a class="RideInfoBtn">
								<span>approx.</span>
								<strong>$20</strong>
								<span>45 min</span>
							</a>
							<a class="Select">Select</a>
						</div> <!-- SelectRide -->
						<table class="RideDetails">
							<tr>
								<th class="Leave" scope="row"><span class="Icon">Icon</span> Leave:</th>
								<td class="LeaveArriveTime"><strong>4:00pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>New York University (NYU)</strong></td>
							</tr>
							<tr>
								<th class="Arrive" scope="row"><span class="Icon">Icon</span> Arrive:</th>
								<td class="LeaveArriveTime"><strong>4:45pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>JFK Terminal 5 <span class="SameLocationIcon">Check</span></strong></td>
							</tr>
						</table> <!-- RideDetails -->
						<img src="images/cartype_taxi.png" class="RideType" alt="Taxi" width="93" height="51" />
						<ul class="UserList">
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a class="EmptySeat"><img src="images/emptyseat_60x60.png" alt="emptyseat_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">+1 Seat Open</a>
							</li>
							<li class="Arrow">Arrow</li>
						</ul> <!-- RiderList -->
					</li> <!-- END OF A RIDE -->
					<li>
						<div class="SelectRide">
							<a class="RideInfoBtn">
								<span>approx.</span>
								<strong>$20</strong>
								<span>45 min</span>
							</a>
							<a class="Select">Select</a>
						</div> <!-- SelectRide -->
						<table class="RideDetails">
							<tr>
								<th class="Leave" scope="row"><span class="Icon">Icon</span> Leave:</th>
								<td class="LeaveArriveTime"><strong>4:00pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>New York University (NYU)</strong></td>
							</tr>
							<tr>
								<th class="Arrive" scope="row"><span class="Icon">Icon</span> Arrive:</th>
								<td class="LeaveArriveTime"><strong>4:45pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>JFK Terminal 5 <span class="SameLocationIcon">Check</span></strong></td>
							</tr>
						</table> <!-- RideDetails -->
						<img src="images/cartype_taxi.png" class="RideType" alt="Taxi" width="93" height="51" />
						<ul class="UserList">
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a class="EmptySeat"><img src="images/emptyseat_60x60.png" alt="emptyseat_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">+1 Seat Open</a>
							</li>
							<li class="Arrow">Arrow</li>
						</ul> <!-- RiderList -->
					</li> <!-- END OF A RIDE -->
				</ul>
				<h3>Departing Tomorrow - Friday, February 3</h3>
				<ul class="RidesList">
					<li>
						<div class="SelectRide">
							<a class="RideInfoBtn">
								<span>Sold Out!</span>
								<strong>Full</strong>
								<span>Ride</span>
							</a>
							<a class="PostSimilar">Post Similar</a>
						</div> <!-- SelectRide -->
						<table class="RideDetails">
							<tr>
								<th class="Leave" scope="row"><span class="Icon">Icon</span> Leave:</th>
								<td class="LeaveArriveTime"><strong>4:00pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>New York University (NYU)</strong></td>
							</tr>
							<tr>
								<th class="Arrive" scope="row"><span class="Icon">Icon</span> Arrive:</th>
								<td class="LeaveArriveTime"><strong>4:45pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>JFK Terminal 5 <span class="SameLocationIcon">Check</span></strong></td>
							</tr>
						</table> <!-- RideDetails -->
						<img src="images/cartype_taxi.png" class="RideType" alt="Taxi" width="93" height="51" />
						<ul class="UserList">
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a class="EmptySeat"><img src="images/emptyseat_60x60.png" alt="emptyseat_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">+1 Seat Open</a>
							</li>
							<li class="Arrow">Arrow</li>
						</ul> <!-- RiderList -->
					</li></ul> <!-- END OF A RIDE -->
					<ul class="RidesList">
					<li>
						<div class="SelectRide">
							<a class="RideInfoBtn">
								<span>approx.</span>
								<strong>$20</strong>
								<span>45 min</span>
							</a>
							<a class="Select">Select</a>
						</div> <!-- SelectRide -->
						<table class="RideDetails">
							<tr>
								<th class="Leave" scope="row"><span class="Icon">Icon</span> Leave:</th>
								<td class="LeaveArriveTime"><strong>4:00pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>New York University (NYU)</strong></td>
							</tr>
							<tr>
								<th class="Arrive" scope="row"><span class="Icon">Icon</span> Arrive:</th>
								<td class="LeaveArriveTime"><strong>4:45pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>JFK Terminal 5 <span class="SameLocationIcon">Check</span></strong></td>
							</tr>
						</table> <!-- RideDetails -->
						<img src="images/cartype_taxi.png" class="RideType" alt="Taxi" width="93" height="51" />
						<ul class="UserList">
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a class="EmptySeat"><img src="images/emptyseat_60x60.png" alt="emptyseat_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">+1 Seat Open</a>
							</li>
							<li class="Arrow">Arrow</li>
						</ul> <!-- RiderList -->
					</li> <!-- END OF A RIDE -->
				</ul> <!-- RiderList -->

